
$enable-framework:  false;

// region //////////////////////////////////////////////// Breakpoints

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
) !default;

// endregion ///////////////////////////////////////////// End Breakpoints

// region //////////////////////////////////////////////// Targeting Maps

// Media Query Targets
$condition-map: (
        "screen": "screen",
        "print" : "print",
        "coarse": "screen and (pointer: coarse)",
        "touch" : ("handheld", "screen and (pointer: coarse)", "screen and (-moz-touch-enabled)"),
        "fine"  : ("screen and (pointer: fine)", "not (-moz-touch-enabled)"),
        "hidpi" : ("screen and (-webkit-min-device-pixel-ratio: 1.5)", "screen and (min-resolution: 144dpi)")
);

// Feature-Based Targets (requires d.js)
$target-feature: (
        "fallback"  : '.fallback',
        "baseline"  : '.baseline',
);

// User-Agent Based Targets (requires d.js)
$target-user-agent: (
        "ie"        : "Trident",
        "edge"      : "Edge",
        "safari"    : "Version",
);

// endregion ///////////////////////////////////////////// End Targeting Maps